{% load static %}
{% load staticfiles %}
<!doctype html>
<html lang="en">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/w3.css'%}">
	<link rel="stylesheet" href="{% static 'css/bootstrap3.min.css'%}">
	
	<!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
	<link rel="stylesheet" href="{% static 'material-design-icons-3.0.1/iconfont/material-icons.css'%}">
	
    <head>
        <title>Pi Train Controller</title>
        <link rel="stylesheet" href="{% static 'css/trains.css' %}">
    </head>
	<body>
		<div class="page-header">
			<h1><a href="/">Pi Train Controller</a></h1>
		</div>
		<div class="content container">
			<div class="row">
				{% block content %}
				{% endblock %}
			</div>
		</div>
   <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static "js/popper.min.js" %}" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="{% static "js/bootstrap.min.js" %}" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>