{% extends 'trains/base.html' %}
{% block content %}

{% load static %}
<script type="text/javascript" src="{% static "js/jquery-3.3.1.min.js" %}"></script>
<script src="{% static "js/jquery.knob.js" %}"></script>
<script type="text/javascript" src="{% static "js/cursor.js" %}"></script>
<script src="{% static "js/colorpicker/jquery.colorpicker.js" %}"></script>

<div class="col-lg-12">
	<div class="col-lg-12">

		<img src="/media/Tracklayout.png" alt="Card image cap"> <!-- Image pulled from database -->
	</div>
<!-- Main Automation Control-->
	<div class="col-lg-12">

		<div class ="col-lg-4">
			<h2>Automatic Train Patterns</h2>
			<div class="btn-group btn-group-toggle" data-toggle="buttons">	<!-- Track Pattern toggle/selection -->
				<label class="btn btn-secondary active">
					<input type="radio" class="AutoButton" name="options" id="TrPattern-0" autocomplete="off" checked> Manual
				  </label>

				  <label class="btn btn-secondary">
					<input type="radio" class="AutoButton id="TrPattern-1" autocomplete="off"> Pattern 1
				  </label>

			</div>
		</div>

		<div class="col-lg-4">
			<h2>Automatic Lighting Patterns</h2>
			<div class="btn-group btn-group-toggle" data-toggle="buttons">	<!-- Track Pattern toggle/selection -->
				<label class="btn btn-secondary active">
					<input type="radio" class="AutoButton id="LtPattern-0" autocomplete="off" checked> Manual
				  </label>

				  <label class="btn btn-secondary">
					<input type="radio" class="AutoButton id="LtPattern-1" autocomplete="off"> Pattern 1
				  </label>

				  <label class="btn btn-secondary">
					<input type="radio" class="AutoButton id="LtPattern-2" autocomplete="off"> Pattern 2
				  </label>

			</div>
		</div>
	</div>



<!-- ******************************************************************************************************************************* -->
<!-- Main LED Lighting Control -->
				<div class="col-lg-12">
					<h2>Manual Lighting</h2> <!--Collapsable panel title to fill the rest of the card -->

					<div class="panel-group">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4><a data-toggle="collapse" href="#collapseLights">Controls</a></h4> <!--Collapsable panel title to fill the rest of the card -->
							</div>

							<h2> </h2>

									<div id="collapseLights" class="panel-collapse collapse"><!--Collapsable panel to fill the rest of the card -->


														<div class="col-lg-12">
															<h2>Ambient RGB Lighting</h2>
															<div id="colorpicker">
																<script>
																	const myPicker = new jQuery.ColorPicker('#colorpicker', {
																		color: '#{{rgbLight.hexValue}}'

																	});
																</script>
															</div>

														</div>
														<div class="col-lg-12">
															<div class="col-lg-12">
																<!-- <div class="col-lg-4">
																<!-- <ul class="list-group"> <!--List embedded in the panel -->
																 {% for lightgroup in lightgroups %}

																	<li class="list-group-item"> <!--Lights button call -->
																		 <h4><i class="material-icons">highlight</i>{{lightgroup.title}}</h4>
																			<div class="btn-group btn-group-toggle" data-toggle="buttons">
																				{% if lightgroup.lightsState is True %}
																						<label class="btn btn-light" >
																				{% else %}
																						<label class="btn btn-light active" >
																				{% endif %}
																						<input type="radio" class="LightingButton" name="options" autocomplete="off" id="lightgroup_4_{{lightgroup.pk}}_0">Off
																					</label>
																				{% if lightgroup.lightsState is True %}
																					<label class="btn btn-light active" >
																				{% else %}
																					<label class="btn btn-light" >
																				{% endif %}
																					<input type="radio" class="LightingButton" name="options" id="lightgroup_4_{{lightgroup.pk}}_1" autocomplete="off"> On
																				</label>
																			</div>
																			 <h5>Brightness:</h5>
																			<div class="slidecontainer">
																				<input type="range" min="0" max="255" value="{{lightgroup.brightness}}" class="slider" id="lightgroup_5_{{lightgroup.pk}}">
																			</div>
																	</li>

														{% endfor %}
															<!-- </div>
														 <!-- </ul> -->
														 </div>
													 </div>
											 <div class="col-lg-12">
												<div class="panel-group">
													<div class="panel panel-default">
														<div class="panel-heading">
															<h4><a data-toggle="collapse" href="#collapseLightsall">Controls - Individual</a></h4>
														</div>
													<div id="collapseLightsall" class="panel-collapse collapse"><!--Collapsable panel to fill the rest of the card -->
															<div class="col-lg-12">
																<!-- <div class="col-lg-4">
															  <!-- <ul class="list-group"> <!--List embedded in the panel -->
															   {% for light in lights %}
																 {% if light.type == "Single-Group" %}
																 <div class="col-lg-4">
																  <li class="list-group-item"> <!--Lights button call -->
																		 <h4><i class="material-icons">highlight</i>{{light.title}}</h4>
																			<div class="btn-group btn-group-toggle" data-toggle="buttons">
																				{% if light.lightsState is True %}
																						<label class="btn btn-light" >
																				{% else %}
																						<label class="btn btn-light active" >
																				{% endif %}
																						<input type="radio" class="LightingButton" name="options" autocomplete="off" id="Light_4_{{light.pk}}_{{light.address}}_{{light.boardAddress}}_{{light.brightness}}_0">Off
																					</label>
																				{% if light.lightsState is True %}
																					<label class="btn btn-light active" >
																				{% else %}
																					<label class="btn btn-light" >
																				{% endif %}
																					<input type="radio" class="LightingButton" name="options" id="Light_4_{{light.pk}}_{{light.address}}_{{light.boardAddress}}_{{light.brightness}}_1" autocomplete="off"> On
																				</label>
																			</div>
																			{% if light.type == "Single-Group" %}
																			 <h5>Brightness:</h5>
																			<div class="slidecontainer">
																				<input type="range" min="0" max="255" value="{{light.brightness}}" class="slider" id="Light_5_{{light.pk}}_{{light.address}}_{{light.boardAddress}}">
																			</div>
																			{% endif %}
																	</li>
																	</div>
														{% endif %}
														{% endfor %}
														</div>
												 <!-- </ul> -->
												</div>
											</div>
										</div>
												</div>
											</div>

											</div>

				</div>


<!-- ******************************************************************************************************************************* -->
<!-- Main Track Servo Control -->

	<div class="col-lg-12">
					<h2>Manual Servo Track Switching</h2> <!--Collapsable panel title to fill the rest of the card -->

					<div class="panel-group">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4><a data-toggle="collapse" href="#collapseServo">Controls</a></h4> <!--Collapsable panel title to fill the rest of the card -->
							</div>
							<div id="collapseServo" class="panel-collapse collapse"><!--Collapsable panel to fill the rest of the card -->


									<h2>Track Layout</h2>
										<img class="card-img-top" src="/media/Tracklayout - Servo.png" alt="Card image cap"> <!-- Image pulled from database -->


								   {% for servo in servos %}
									<div class="col-lg-4">
											 <h4><i class="material-icons">settings_ethernet</i>{{servo.title}}</h4>
												<div class="btn-group btn-group-toggle" data-toggle="buttons">

													{% if servo.state is True %}
														<label class="btn btn-light" >
													{% else %}
														<label class="btn btn-light active" >
													{% endif %}
															<input type="radio" class="ServoButton" name="options" autocomplete="off" id="Servo_7_{{servo.pk}}_0">Off
														</label>

													{% if servo.state is True %}
														<label class="btn btn-light active" >
													{% else %}
														<label class="btn btn-light">
													{% endif %}
														<input type="radio" class="ServoButton" name="options" id="Servo_7_{{servo.pk}}_1" autocomplete="off"> On
													</label>
												</div>

									</div>
									{% endfor %}


							</div>
					</div>
				</div>
			</div>


<!-- ******************************************************************************************************************************* -->
<!-- Main Manual Train Control -->
<div class="col-lg-12">
	<h2>Manual Train Control:</h2>
		<div class="card-deck">
		<!-- Generated for loop for every train in the database -->
		{% for train in trains %}
			<div class="card"><!-- Card layout bootstrap for each train -->
					<img class="card-img-top" src="{{ train.image.url }}" alt="Card image cap"> <!-- Image pulled from database -->
					<div class="card-body">
						<h3 class="card-title">{{ train.title }}</h3> <!-- title pulled from database -->
						<p class="card-text">{{ train.description|linebreaksbr }}</p> <!-- Description pulled from database -->
					</div>
					<div class = "text-center"> <!--Center the rest of the card content -->
						<div class="panel-group">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" href="#collapse{{train.pk}}">Manual Controls</a> <!--Collapsable panel title to fill the rest of the card -->
									</h4>
								</div>
								<div id="collapse{{train.pk}}" class="panel-collapse collapse"><!--Collapsable panel to fill the rest of the card -->
								   <ul class="list-group"> <!--List embedded in the panel -->
									  <li class="list-group-item"> <!--Lights button call -->
										  <i class="material-icons">highlight</i>
											<h4>Lights:</h4>
												<div class="btn-group btn-group-toggle" data-toggle="buttons">
												{% if train.lightsOn == False %}
													<label class="btn btn-light active">
												{% else %}
													<label class="btn btn-light">
												{% endif %}
															<input type="radio" class="TrainButton" name="radio_train" id="Tr_{{train.address}}_Lights_Off" autocomplete="off" checked>Off
														</label>
												{% if train.lightsOn == True%}
													<label class="btn btn-light active">
												{% else %}
													<label class="btn btn-light">
												{% endif %}
														<input type="radio" class="TrainButton" id="Tr_{{train.address}}_Lights_On" autocomplete="off"> On
													</label>
												</div>
										</li>
										<li class="list-group-item"> <!--Speed Jquery knob -->
											<i class="material-icons">slow_motion_video</i>
											<h4>Speed:</h4>
											<input class="knob" data-id="Tr_{{train.address}}_Speed_" data-width="150" data-angleArc=250 data-angleOffset=-125 data-fgcolor="#222222" data-thickness=".3" value="{{train.speed}}" data-min="0" data-max="128">
											<div><button type="button" name="radio_train" class="btn btn-danger btn-sm TrainButton" id="Tr_{{train.address}}_Stop">Stop!</button></div>
										</li>
										<li class="list-group-item">
											<i class="material-icons">compare_arrows</i>
											<h4>Direction:</h4>  <!--Direction button call -->
												<div class="btn-group btn-group-toggle" data-toggle="buttons">
												{% if train.direction == True %}
													<label class="btn btn-light active">
												{% else %}
													<label class="btn btn-light">
												{% endif %}
															<input type="radio" class="TrainButton" id="Tr_{{train.address}}_Dir_FWD" autocomplete="off" checked>Forward
														</label>
												{% if train.direction == False %}
													<label class="btn btn-light active">
												{% else %}
													<label class="btn btn-light">
												{% endif %}
														<input type="radio" class="TrainButton" id="Tr_{{train.address}}_Dir_BWD" autocomplete="off">Backward
													</label>
												</div>
										</li>
										{% if train.soundOptions > 0 %}
											<li class="list-group-item"><!--Horn button call -->
												<div><i class="material-icons">volume_up</i></div>
												<button type="button" class="btn btn-success btn-lg TrainButton" id="Tr_{{train.address}}_Horn_On" >Horn </button>
											</li>
											<li class="list-group-item"> <!--Sound button call generated from number of sound options available according to the database value -->
												<i class="material-icons">volume_up</i>
												<div class="row row-buffer">
													{% with ''|center:train.soundOptions as range %}
													{% for _ in range %}
														<div class = "classWithPad"> <button type="button" class="btn btn-success btn-lg TrainButton" id="Tr_{{train.address}}_SND_{{forloop.counter0}}" >Sound{{ forloop.counter }} </button> </div>
													{% endfor %}
													{% endwith %}
												</div>
											</li>

											<li class="list-group-item"> <!--Mutting sound button call -->
												<i class="material-icons">volume_off</i>
												<h4>Mute:</h4>
													<div class="btn-group btn-group-toggle" data-toggle="buttons">
													{% if train.silentRunning %}
														<label class="btn btn-light">
													{% else %}
														<label class="btn btn-light active">
													{% endif %}
																<input type="radio" class="TrainButton" id="Tr_{{train.address}}_Mute_On" autocomplete="off" checked>Muted
															</label>
													{% if train.silentRunning %}
														<label class="btn btn-light active">
													{% else %}
														<label class="btn btn-light">
													{% endif %}
															<input type="radio" class="TrainButton" id="Tr_{{train.address}}_Mute_Off" autocomplete="off">Unmuted
														</label>
													</div>
											</li>
										{% endif %}

								  </ul>
								  <div class="panel-footer">Footer</div>
								</div>
							</div>
					  </div>
					</div>
					<div class="card-body">
				</div>
			</div>
		{% endfor %}
	</div>
	</div>
</div>


<script type="text/javascript" src="{% static "js/buttons/buttonHandler.js" %}"></script>

{% endblock %}
